@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot') format('embedded-opentype'), url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot') format('embedded-opentype'), url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 38px;
    cursor: pointer;
    line-height: 26px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #263148;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #263148;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*** slick theme ***/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

.slick-slide img {
    display: block;
    max-width: 100%;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-slide>.slick-slider-img {
    position: relative;
    display: block;
    width: 100%;
}

.slick-slide .image {

    /*height: 180px;*/
}

.slick-slide img {
    display: block;
    width: 100%;
}

.slick-slide img.slick-loading {
    display: none;
}

.slick-prev {
    background: #DDD;
    border: none;
    border-radius: none;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    left: 0;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 400;
}

.slick-next {
    background: #DDD;
    border: none;
    border-radius: none;
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    right: 0;
    padding: 0.25em 0.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 400;
}

/* progress bar */
.slider-progress {
    width: 100%;
    height: 4px;
    background: transparent;
    position: absolute;
    bottom: 0;
}

.slider-progress .progress {
    width: 0%;
    height: 4px;
    background: #d7b685;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}


.slider-wrapper {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:#e2b682;
}
ul {
    padding: 0;
}

ul li {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}


header {
    background: rgba(38, 49, 72, 1);
    float: left;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.wrapper{
        flex: 1 0 auto;
}
.navbar {
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    float: left;
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #d7b685;
}

.fixed-header {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: fixed;
    top: 0;
    z-index: 999;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    color: transparent;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=fff');
}

.navbar-toggler {
    padding: 0;
    position: absolute;
    right: 0;
    top: 0%;
}



a.logo {
    width: 220px;
    float: left;
}

.fixed-header .headmain {
    background: #263148;
}

.headmain {
    float: left;
    width: 100%;
    padding: 15px 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.headmain nav ul {
    padding: 0;
    float: left;
    margin: 10px 0;
}

.headmain nav ul li {
    float: left;
    list-style: none;
    padding: 0 20px;
}

.headmain nav ul li:last-child {
    padding-right: 0px;
}

.headmain nav ul li:first-child {
    padding-left: 0px;
}

.headmain nav ul li a {
    float: left;
    list-style: none;
    color: #d7b685;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.headmain nav ul li a:hover {
    color: #fff;
}

footer { 
    flex-shrink: 0; 
    background: #263148;
    padding: 14px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    float: left;
    width: 100%;
}

footer p {
    margin: 0;
}

.banner-meta {
    background: url("../images/slider-baner.jpg")no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 40px 0;
}

.banner-meta p {
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 26px;
    margin: 0;
}

.map-area {
    padding: 50px 0;
}


.hotoffers {
    padding: 50px 0;
}

.hotoffers h2 {
    margin: 10px 0 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 26px;
    text-align: center;
}

.hot-box {
    -webkit-box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.hot-box:hover .hover-box {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
}

.latest {
    padding: 50px 0;
}

.latest h2 {
    margin: 10px 0 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 26px;
    text-align: center;
}

.latest-box {
    -webkit-box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    position: relative;
}

.latest-box:hover .hover-box {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
}

.hover-box {
    background: rgba(38, 49, 72, 0.8);
    position: absolute;
    bottom: 0;
    height: 90px;
    opacity: 0;
    left: 0;
    right: 0;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.hover-box h2 {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}

.hover-box h3 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    width: 100%;
}

.hover-box span {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    line-height: 22px;
    margin: 0;
    width: 100%;
}


.categories {
    padding: 50px 0 70px;
    overflow: hidden;
    float: left;
    width: 100%;
}

.categories h2 {
    margin: 10px 0 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 26px;
    text-align: center;
}

.cat-box {
    float: left;
    width: 100%;
    overflow: hidden;
}

.cat-inner img {
    visibility: hidden;
}
.cat-inner {
    -webkit-background-size: cover;
    background-size: cover;
}
.cat-box li {
    position: relative;
    float: left;
    width: 20.8%;
    overflow: hidden;
    border: 1px solid #fff;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-transform: skew(-7deg);
    -moz-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    -o-transform: skew(-7deg);
    transform: skew(-7deg);
}

.cat-box li:first-child {
    margin-left: -2%;
}

.cat-box li:last-child {
    margin-right: -3%;
}
.cat-box li:last-child .meta-box h2, .cat-box li:last-child .meta-box p{
    text-align: right;
}
.cat-box li:last-child .meta-box{
    padding: 45px 0 0 35px;
}

.cat-box li:hover,
.cat-box li:hover .cat-inner {
    background: #263148 !important;
}

.cat-box li:hover .meta-box {
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.meta-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 85%;
    right: 0;
    padding: 45px 0 0 45px;
    opacity: 0;
    -webkit-transform: skew(7deg);
    -moz-transform: skew(7deg);
    -ms-transform: skew(7deg);
    -o-transform: skew(7deg);
    transform: skew(7deg);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.meta-box h2 {
    font-size: 14px;
    color: #fff;
    line-height: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: left;
}

.meta-box p {
    font-size: 13px;
    color: #fff;
    line-height: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: left;
}

.offer-details {
    float: left;
    width: 100%;
    padding: 80px 0px;
}

.offer-thumb {
    float: left;
    width: 45%;
    position: relative;
}

.slider-nav li a {
    outline: none;
}

.slider-nav li {
    margin-right: 10px;
}

.offer-meta {
    float: right;
    width: 55%;
    padding-left: 20px;
}

.offer-inner {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.offer-blocks {
    float: left;
    width: 60%;
}

.offer-img {
    float: right;
    width: 37%;
}

.offer-meta p {
    font-size: 12px;
    color: #263148;
    line-height: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 14px 0;
    display: inline-block;
}

.offer-meta h2 {
    font-size: 26px;
    color: #263148;
    line-height: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0;
}

.offer-meta h3 span {
    font-size: 12px;
    color: #263148;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    display: inline-block;
    background: #d7b685;
    padding: 8px 30px;
}

.button {
    color: #d7b685;
    background: #263148;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 15px 45px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 15px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.button:hover {
    background: #d7b685;
    color: #263148;
    text-decoration: none;
}

/*** lilst page ****/
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 15px;
  display: inline-block; 
  width: 12px;
  height: 12px;
  background: #ebebeb;
}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
 
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
 
.spotlight{
    padding: 50px 0;
    float: left;
    width: 100%;
}
.list{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.side-menu{
    -webkit-box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 9px 13px -2px rgba(0, 0, 0, 0.1);
    margin: 0px;
    padding: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.side-menu h2{
    color: #000;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0 0 35px;
    padding-left: 40px;
    background: url("/img/icon01.png")no-repeat;
    background-position:left center;
}
.side-menu ul li{
    color: #000;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 20px 0 0; 
}

.list-box{
    border:1px solid #ebebeb;
    border-bottom: none;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.list-box a {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #1c2d47;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.list-box a:hover { 
    background: #e1b683;
    color: #1c2d47; 
    text-decoration: none;
}
.list-thumb {
    float: left;
    width: 45%;
    padding: 10px 0 10px 25px;
}
.list-meta {
    float: right;
    width: 50%;
    padding: 10px 25px 10px 0px;

}
.list-meta p{ 
    margin: 0;
    font-size: 12px;    
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000;
}
.list-rating {
    margin: 10px auto;
    width: 65%;
    position: relative;
    text-align: center;
}
.list-rating h2 { 
    padding: 0;
    margin: 0;
    position: absolute;
    top: 18%;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #1b2d47;
    width: 100%;
    left: 58%;
    z-index: 99;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.login{
    float: left;
    width: 100%;
    padding: 50px 0;
}
.flash-msg {
    padding: 0px 0 !important; 
}
.flash-msg button {
    background: none !important; 
    padding: 0px 0px !important;
}
.login a{ 
    color: #1b2d47;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
.login button{
    background: #1b2d47;
    color:#fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 10px 35px;
    line-height: 1;
    border: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.login button:hover{
    background: #e2b682;
    color: #1b2d47;
}
.card-header {
    padding: 20px;
    margin-bottom: 0;
    background-color: rgb(38, 49, 72);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
    font-size: 20px;
}

.account_radio {
        position: initial !important;
}

 .alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}
 .alert-heading{color:inherit}
 .alert-link{font-weight:700}.alert-dismissible{padding-right:4rem}
 .alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}
 .alert-primary{color:#004085;background-color:#cce5ff;border-color:#b8daff}
 .alert-primary hr{border-top-color:#9fcdff}
 .alert-primary .alert-link{color:#002752}
 .alert-secondary{color:#383d41;background-color:#e2e3e5;border-color:#d6d8db}
 .alert-secondary hr{border-top-color:#c8cbcf}
 .alert-secondary .alert-link{color:#202326}
 .alert-success{color:#155724;background-color:#d4edda;border-color:#c3e6cb}
 .alert-success hr{border-top-color:#b1dfbb}
 .alert-success .alert-link{color:#0b2e13}
 .alert-info{color:#0c5460;background-color:#d1ecf1;border-color:#bee5eb}
 .alert-info hr{border-top-color:#abdde5}
 .alert-info .alert-link{color:#062c33}
 .alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}
 .alert-warning hr{border-top-color:#ffe8a1}
 .alert-warning .alert-link{color:#533f03}
 .alert-danger{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb}
 .alert-danger hr{border-top-color:#f1b0b7}
 .alert-danger .alert-link{color:#491217}
 .alert-light{color:#818182;background-color:#fefefe;border-color:#fdfdfe}
 .alert-light hr{border-top-color:#ececf6}
 .alert-light .alert-link{color:#686868}
 .alert-dark{color:#1b1e21;background-color:#d6d8d9;border-color:#c6c8ca}
 .alert-dark hr{border-top-color:#b9bbbe}
 .alert-dark .alert-link{color:#040505}
