@media only screen and (min-width: 300px) and (max-width: 767px) {
    a.logo {
        width: 170px;
        float: left;
    }

    .headmain {
        padding: 10px 0;
    } 

    .headmain nav ul li {
        padding: 10px 0;
        display: block;
    }

    header {
        position: static;
        background: #263148;
    }

    header.fixed-header {
        position: fixed;
        top: 0;
    }

    .headmain nav ul {
        float: left;
        width: 100%;
    }

    .headmain nav ul li {
        float: left;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

   

    footer {
        padding: 15px 0;
        font-size: 14px;
        text-align: center;
    }

    .navbar-light .navbar-brand {
        padding: 0;
    } 
    .banner-meta{
        padding: 25px 0;
    }
    .banner-meta p{
        font-size: 16px;
        line-height: 20px;
    }
    .map-area, .hotoffers, .categories, .latest{
        padding: 25px 0;
    }
    .latest-box, .hot-box{
        margin: 20px 10px;
    }
    .latest-box img, .hot-box img {
        width: 100%;
    }

    .cat-box{
        padding:0 30px;
    }
    .cat-box {
        padding: 0 30px;
        text-align: center;
        font-size: large;
        float: none;
    }
    .cat-box li {
        width: 48%;
        float: none;
        display: inline-block;
    } 
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .cat-box li {
        width: 100%; 
    } 
}

/* TABLET LANDSCAPE / SMALLER DESKTOP */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
  
}

/* TABLETS PORTRAIT to LANDSCAPE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header {
        position: static;
        background: #263148;
    }

    header.fixed-header {
        position: fixed;
        top: 0;
    }

    .headmain nav ul {
        float: left;
        width: 100%;
    }

    .headmain nav ul li {
        float: left;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

    .headmain nav ul li {
        padding: 10px 0;
        display: block;
    }

   
    .navbar-light .navbar-brand {
        padding: 0;
    }

    .headmain {
        padding: 10px 0;
    }
 
    .slider-wrapper {
        max-height: 400px;
    } 
    .cat-box{
        padding:0 30px;
    }
    .cat-box {
        padding: 0 30px;
        text-align: center;
        font-size: large;
        float: none;
    }
    .cat-box li {
        width: 48%;
        float: none;
        display: inline-block;
    } 
}
