@media only screen and (min-width: 300px) and (max-width: 767px) {
    a.logo {
        width: 170px;
        float: left;
    }

    .headmain {
        padding: 10px 0;
    }

    .headmain nav ul li {
        padding: 10px 0;
        display: block;
    }

    header {
        position: static;
        background: #263148;
    }

    header.fixed-header {
        position: fixed;
        top: 0;
    }

    .headmain nav ul {
        float: left;
        width: 100%;
    }

    .headmain nav ul li {
        float: left;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

    footer {
        padding: 15px 0;
        font-size: 14px;
        text-align: center;
    }

    .navbar-light .navbar-brand {
        padding: 0;
    }

    .banner-meta {
        padding: 25px 0;
    }

    .banner-meta p {
        font-size: 16px;
        line-height: 20px;
    }

    .map-area, .hotoffers, .categories, .latest {
        padding: 25px 0;
    }

    .latest-box, .hot-box {
        margin: 20px 10px;
    }

    .latest-box img, .hot-box img {
        width: 100%;
    }

    .cat-box {
        padding: 0 30px;
    }

    .cat-box {
        padding: 0 30px;
        text-align: center;
        font-size: large;
        float: none;
    }

    .cat-box li {
        width: 48%;
        float: none;
        display: inline-block;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .cat-box li:first-child {
        margin-left: 0;
    }

    .cat-box li:last-child {
        margin-right: 0;
    }

    .cat-box li:last-child .meta-box h2, .cat-box li:last-child .meta-box p {
        text-align: left;
    }

    .cat-box li:last-child .meta-box {
        padding: 45px 35px 0 0px;
    }

    .meta-box {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .offer-details {
        padding: 40px 0px;
    }

    .offer-meta {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .offer-thumb {
        width: 100%;
    }

    .side-menu {
        padding: 15px;
        margin-bottom: 50px;
    }

    .list-rating {
        width: 190px;
        margin: 15px auto;
    }

    .list-thumb, .list-meta {
        float: left;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .list-rating h2 {
        top: 20%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .cat-box li {
        width: 100%;
    }
}

/* TABLET LANDSCAPE / SMALLER DESKTOP */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .list-rating {
        margin: 10px auto;
        width: 85%;
    }
}

/* TABLETS PORTRAIT to LANDSCAPE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header {
        position: static;
        background: #263148;
    }

    header.fixed-header {
        position: fixed;
        top: 0;
    }

    .headmain nav ul {
        float: left;
        width: 100%;
    }

    .headmain nav ul li {
        float: left;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }

    .headmain nav ul li {
        padding: 10px 0;
        display: block;
    }

    .navbar-light .navbar-brand {
        padding: 0;
    }

    .headmain {
        padding: 10px 0;
    }

    .slider-wrapper {
        max-height: 400px;
    }

    .cat-box {
        padding: 0 30px;
    }

    .cat-box {
        padding: 0 30px;
        text-align: center;
        font-size: large;
        float: none;
    }

    .cat-box li {
        width: 48%;
        float: none;
        display: inline-block;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .cat-box li:first-child {
        margin-left: 0;
    }

    .cat-box li:last-child {
        margin-right: 0;
    }

    .cat-box li:last-child .meta-box h2, .cat-box li:last-child .meta-box p {
        text-align: left;
    }

    .cat-box li:last-child .meta-box {
        padding: 45px 35px 0 0px;
    }

    .meta-box {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .offer-details {
        padding: 40px 0px;
    }

    .offer-meta {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .offer-thumb {
        width: 100%;
    }

    .categories {
        padding: 30px 0;
    }

    .side-menu {
        padding: 15px;
        margin-bottom: 50px;
    }

    .list-rating {
        width: 85%;
        margin: 5px auto;
    }

    .list-thumb, .list-meta {
        float: left;
        width: 100%;
        padding: 10px;
    }
    .list-rating h2 {
        font-size: 30px;
    }
}
