
.map-search {
  float: right;
}
.map-search #search_name {
  position: initial;
  border: 1px solid #ccc;
}
.search-bar {
  position: relative;
  background: #eee;
  border: 1px solid #ccc;
  border-left: 0;
  padding: 9px 12px;
  margin-left: -4px;
}

.search-bar .icon {
  position: absolute;
  top: 47%;
  left: 10px;
  transform: translateY(-50%);
}

.search-bar .input-text {
  width: 0px;
  border: 0px;
  background-color: #fff;
  height: 20px;
  padding: 8px 8px 8px 35px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search-bar .input-text:focus {
  width: 80%;
  background-color: #ccc;
}